body {
    font-family: "HelveticaNeueW01-65Medi", Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

#layout-header {
    position: static; 
    min-height: 100px; 
    padding: 20px;
}

.logo {
    vertical-align: middle; 
    display: inline-block;
    width: 213px;
    height: 58px;
    padding-top: 25px;
    padding-bottom: 75px;
    padding-left: 200px;
}

#nav {
    float: right;
    padding: 25px;
}

ul {
    list-style-type: none;
}

li {
    float: right;
}

li a {
    display: block;
    color: #654D9B;
    text-align: center;
    padding: 10px;
    font-family: "HelveticaNeueW01-65Medi", Helvetica, Arial, sans-serif;
    font-size: large;
    text-decoration: none;
}

#image {
  position: relative;
  display: block;

}

#image img {
    max-width: 100%;
    max-height: 100%;
}

#image h2 {
    position: absolute;
    top: 200px; 
    left: 100px; 
    color: white;
    font-weight: lighter;
    text-align: left;
}

#bannerState {
    height: 450px;
    background: #645D9B;
}

#bannerState h2 {
    position: absolute;
    top: 200px; 
    left: 75px; 
    color: white;
    font-weight: lighter;
    text-align: left;
}

#bannerState #stateIntro {
    position: absolute;
    top: 150px; 
    left: 125px; 
    color: white;
    font-weight: lighter;
    text-align: left;
    padding: 20px;
}

.col-sm-4.pull-right img {
    display: block;
    margin: auto;
    padding-top: 90px;
}



.col-sm-4 h1 {
    color: #654D9B;
    font-weight: lighter;
    text-align: center;
}

.col-sm-4 img {
    display: block;
    margin: auto;
    padding: 20px;
}

h2 {
    color: #A7A9AC;
    font-weight: lighter;
    text-align: center;
}

#global-summary {
    padding: 20px;
}

#form {
    height: 300px;
    text-align: center;
    padding-top: 130px;
}

#select {
    background-color: #654D9B;
    height: 200px;
    padding: 50px;
}

#select h2 {
    color: white;
    font-weight: lighter;
}

#create {
    background-color: #654D9B;
    height: 200px;
    padding: 50px;
}

#create h2 {
    color: white;
    font-weight: lighter;
}

#mapdiv {
    height: 700px;
}

#layout-footer #footer-links{
    padding: 18px;
    font-family: "HelveticaNeueW01-65Medi", Helvetica, Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: #6D6E70;
    clear: both;    
    
}

#layout-footer #footer-links a:link{
    color: white;
    text-decoration: none;
    
}

#layout-footer #footer-links a:hover{
    color:white;
    font-style: italic, bold;
}

#layout-footer #footer-links #copyright{
    padding-top: 5px;
    display: inline;
    vertical-align: top;
}