<div ng-controller="HomeCtrl">
    <div id="image">
        <h2>In India, there are 1.1 million people <br>who can’t see out of either eye and <br>another 5 million who can’t see out <br>of one eye because of corneal <br>blindness.</h2>
        <img src="./img/Prakash_0380-Edit-2_crop-2.jpg">
    </div>

    <div id="countrySummary">
        <h3>Background on corneal blindness in India. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>
    </div>
<!--    <div id="global-summary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <img src="./img/la.png" alt="donors">
                    <h2>Over 10 million people have corneal blindness. Imagine every person in Los Angeles not being able to see.</h2>
                </div>
                <div class="col-sm-4">
                    <h1>Over 98% of people living with corneal blindness live in developing countries.</h2>
                    <img src="./img/graphic-recipients.png" alt="recipients">
                </div>
                <div class="col-sm-4">
                    <img src="./img/india.png" alt="recipients">
                    <h2>In India, there are 1.1 million people who can’t see out of either eye and another 5 million who can’t see out of one eye because of corneal blindness.</h2>
                </div>
            </div>
        </div>
    </div>-->
    <div id="case-study-sel">
        <h2>Learn more about how Hospital Mandatory Notification Programs have already changed how we deliver transplants in rural and urban India.</h2>
        <ul class="tabs">
            <li><a href="" ng-click="case='delhi'" id="delhi" ng-class='{"selected":case== "delhi"}'> Delhi</a></li>
            <li><a href="" ng-click="case='bhub'" id="bhub" ng-class='{"selected":case== "bhub"}'> Bhubaneshwar</a></li>
        </ul>
    </div>
    <!-- Change the order of the case study and the state selection??? -->
    <div ng-switch on ="case">
        <div id="case-study-delhi" ng-switch-default> 
            <iframe class="timeline" src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&font=Default&lang=en&initial_zoom=2&height=950' width='100%' height='950' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
        </div>
        <div id="case-study-bhub" ng-switch-when="bhub">
            <p>hello world!</p>
        </div>
    </div>
    <div id="select">
        <h3>Select your state from the options below.</h3>
        <select name="singleSelect" id = 'singleSelect' ng-model="singleSelect" ng-change="updatePath()" ng-options="state for state in states">
            <option value="">Select a State</option>
        </select>
    </div>
    <!--<div id='form'>
        
        
        <div id="selectList">
            <a ui-sref="State">Andhra Pradesh</a>
            <a>Arunachal Pradesh</a>
            <a>Assam</a>
            <a>Bihar</a>
            <a>Andhra Pradesh</a>
            <a>Arunachal Pradesh</a>
            <a>Assam</a>
            <a>Bihar</a>
            <a>Chhattisgarh</a>
            <a>Goa</a>
            <a>Gujarat</a>
            <a>Haryana</a>
            <a>Himachal Pradesh</a>
            <a>Jammu and Kashmir</a>
            <a>Jharkhand</a>
            <a>Karnataka</a>
            <a>Kerala</a>
            <a>Madhya Pradesh</a>
            <a>Maharashtra</a>
            <a>Manipur</a>
            <a>Meghalaya</a>
            <a>Mizoram</a>
            <a>Nagaland</a>
            <a>Odisha</a>
            <a>Punjab</a>
            <a>Rajasthan</a>
            <a>Sikkim</a>
            <a>Tamil Nadu</a>
            <a>Telangana</a>
            <a>Tripura</a>
            <a>Uttar Pradesh</a>
            <a>Uttarakhand</a>
            <a>West Bengal</a>
        </div>

    </div>-->
    <!--<div id="mapdiv"></div>-->
    <div ui-view></div>
</div>